<main class="bg-surface-page">

  <h1 class="sr-only">Prueba de maquetación sobre angular</h1>

  <section class="bg-surface-section" aria-label="Lorem ipsum">
    <div class="w-full max-w-screen-2xl mx-auto py-8 px-6 md:py-12 md:px-8 lg:py-24">
      <article uiFeature imageSrc="/images/640.png"
        imageSrcset="/images/400.png 400w, /images/640.png 640w, /images/960.png 960w, /images/1280.png 1280w"
        imageAlt="" datetime="2026-04-20"
        title="Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id."
        ctaLabel="Lorem ipsum." [ctaRoute]="['/example']"></article>
    </div>
  </section>

  <section class="w-full max-w-screen-2xl mx-auto py-8 px-6 md:py-12 md:px-8 lg:py-24" aria-label="Lorem results">
    <h2 class="block text-3xl font-bold text-high mb-6 md:text-5xl">Lorem ipsum dolor sit</h2>
    <div class="flex flex-col gap-6 mb-6 sm:flex-row md:justify-between md:items-center">
      <p class="block text-lg text-high">Lorem ipsum dolor sit</p>
      <ui-search-filter [resultsCount]="filteredCards().length" idControls="search-results"
        (queryChange)="onSearchQueryChange($event)"></ui-search-filter>
    </div>
    @if (filteredCards().length === 0) {
    <p role="status" class="text-medium">No se encontraron resultados</p>
    } @else {
    <ul id="search-results" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8" role="list">
      @for (card of filteredCards(); track card.id) {
      <li>
        <article uiCard [route]="card.route" [imageSrc]="card.imageSrc" [imageSrcset]="card.imageSrcset"
          [imageAlt]="card.imageAlt" [description]="card.description" [title]="card.title" [datetime]="card.datetime">
        </article>
      </li>
      }
    </ul>
    }
  </section>

  <section class="w-full max-w-screen-2xl mx-auto py-8 px-6 md:py-12 md:px-8 lg:py-24" aria-label="Lorem descargas">
    <h2 class="block text-4xl font-bold text-high mb-6 md:text-5xl">Lorem ipsum dolor sit amet consectetur adipiscing
      elit Ut et.
    </h2>
    <p class="block text-[1.13rem] text-high mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
      mi. Aliquam in hendrerit urna. Pellentesque sit
      amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis
      imperdiet
      augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus
      ante
      fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel
      euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
    <ul role="list"
      class="flex flex-row gap-8 pb-4 overflow-x-auto snap-x snap-mandatory motion-safe:scroll-smooth focus-visible:outline-3 focus-visible:outline-offset-3 focus-visible:outline-primary"
      aria-label="Lista de descargas">
      @for (card of cardsOverlay; track card.id) {
      <li class="shrink-0 lg:flex-1 snap-start">
        <article uiCardOverlay [imageSrc]="card.imageSrc" [imageSrcset]="card.imageSrcset" [imageAlt]="card.imageAlt"
          [title]="card.title" [downloadUrl]="card.downloadUrl" [downloadName]="card.downloadName"
          [ctaLabel]="card.ctaLabel" [description]="card.description"></article>
      </li>
      }
    </ul>

  </section>

</main>