@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,700&display=swap');
@import 'tailwindcss';

@theme {
  /* fonts */
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, sans-serif;
  --leading-tight: 1.17;
  /* brand */
  --color-primary: hsla(349, 100%, 45%, 1);
  --color-primary-dark: hsla(349, 100%, 35%, 1);
  /* icons */
  --color-icon: hsla(226, 46%, 20%, 1);
  /* surfaces */
  --color-surface-page: hsla(0, 0%, 100%, 1);
  --color-surface-section: hsla(240, 5%, 96%, 1);
  --color-surface-card: hsla(0, 0%, 100%, 1);
  --color-surface-input: hsla(240, 5%, 96%, 1);
  /* text */
  --color-high: hsla(0, 0%, 0%, 1);
  --color-medium: hsla(210, 10%, 23%, 1);
  --color-inverse: hsla(0, 0%, 100%, 1);

  /* radius */
  --radius: 0.5rem;

  /* shadow */
  --shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.2);

  /* ajuste el diseño original tiene un contenedor de 1542px sin contar padding - aproximación evitando números mágicos en las clases */
  --breakpoint-2xl: 100em;


  /* card overlay */
  --width-card-overlay: 284px;
  --width-card-overlay-lg: 360px;
  --height-card-overlay-content: 175px;

}